* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-Mobile\ .png);
  --border: rgba(255, 255, 255, 0.5);
  --background: rgba(255, 255, 255, 0.1);
  --social-links: rgba(255, 255, 255, 0.1);
  --switch-bg-url: url(./assets/moon-stars.svg);
}
.light {
  --text-color: black;
  --bg-url: url(./assets/bg-light-mobile.png);
  --border: rgba(0, 0, 0, 0.4);
  --background: rgba(255, 255, 255, 0.03);
  --surface-color: rgba(0, 0, 0, 0.05);
  --social-links: rgba(0, 0, 0, 0.05);
  --switch-bg-url: url(./assets/Sun.svg);
}

body {
  background: var(--bg-url) no-repeat top/cover;
  height: 100vh;
}

body * {
  font-family: Inter, sans-serif;
  color: var(--text-color);
}

.container {
  width: 100%;
  max-width: 588px;
  height: 712px;
  margin: 56px auto 0px;
  padding: 0 24px;
}
.profile {
  text-align: center;
}

.switch {
  position: relative;
  width: 64px;
  height: 24px;
  margin: 14px auto;
}

.switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: none;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  z-index: 1;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
}
.light .switch button {
  right: 0;
  left: initial;
}

.light .switch button {
  animation: slide-in 0.4s;
}

.switch button {
  animation: slide-back 0.4s;
}

.switch button:hover {
  outline: 8px solid var(--border);
}
.switch span {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 9999px;
  background: var(--background);
  border: solid 1px var(--border);
}

img {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 24px 24px 8px;
}

/* LINKS */

p {
  font-weight: 500;
  line-height: 24px;
}
ul {
  list-style: none;
}

ul li a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  background-color: var(--background);
  list-style: none;
  text-decoration: none;
  margin: 24px;
  padding: 16px 24px;
  border-radius: 8px;
  border: solid 1px var(--border);
  transition: background 0.2s;
}

ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}
/* SOCIAL LINKS */

.social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;

  font-size: 24px;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
}
.social-links a:hover {
  background-color: var(--social-links);
  transform: scale(1.1);
}

/* FOOTER */
.rodape {
  text-align: center;
  font-weight: 300;
}

/* MEDIA QUERIES */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-Desktop.png);
  }

  .light {
    --bg-url: url(./assets/bg-Desktop-light.png);
  }
}

/* animation */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
